{% extends 'base.html' %}

{% load static %}

{% block title %}
  <title>Employee Detail</title>
{% endblock title %}

{% block nav_bar %}
  {{ block.super }}
{% endblock %}

{% block content %}
<main role="main">
  <div class="jumbotron">
    <div class="container">
        {% if user.is_staff and user.is_superuser and employee %}
          <h1 class="display-3">{{ employee.name }}</h1>
        {% else %}
          <h1 class="display-3">Page Not Found</h1>
        {% endif %}
    </div>
  </div>
  {% if user.is_staff and user.is_superuser and employee %}
  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-5">
        <p>Education Degree : {{ employee.education_degree }}</p>
      </div>
      <div class="col-md-4">
        <p>Position : {{ employee.position }}</p>
      </div>
      <div class="col-md-3">
        <p>Salary : {{ employee.monthly_salary }}</p>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-4">
        <p>Address : {{ employee.address }}</p>
        <br/>
      </div>
      <div class="col-md-4">
        <p>Created : {{ employee.pub_date }}</p>
        <br/>
      </div>
      <div class="col-md-4">
        <p>Phone Number : {{ employee.phone_num }}</p>
        <br/>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <img src="{{ employee.image.url }}" height="300" width="300">
      </div>
      <div class="col-md-1">
        <a href="{% url 'employee-update' employee.pk %}"><input class="btn btn-primary" type="button" value="Update"></a>
      </div>
      <div class="col-md-1">
        <a href="{% url 'employee-delete' employee.pk %}"><input class="btn btn-danger" type="button" value="Delete"></a>
      </div>
    </div>
  </div> <!-- /container -->
  {% endif %}
  <hr>
{% endblock content %}


{% block footer %}
    {{ block.super }}
{% endblock %}
