{% extends 'base.html' %}
{% load static %}

{% block title %}
  <title>Update Store</title>
{% endblock title %}

{% block nav_bar %}
  {{ block.super }}
{% endblock %}

{% block content %}
<main role="main">
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Update Store</h1>
    </div>
  </div>

  <div class="container">
    <form method="POST" action="{% url 'store-update' store.pk %}">
    {% csrf_token %}
    {{ form.as_p }}
    <input class="btn btn-success" type="submit" value="Save">
  </form>
  </div>

  <hr>
{% endblock content %}


{% block footer %}
    {{ block.super }}
{% endblock %}
