{% extends 'base.html' %}

{% block nav_bar %}
  {{ block.super }}
{% endblock %}

{% block content %}
<main role="main">
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Branch No. {{ store.branch_num }}</h1>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h4>{{ store.address }}</h4>
        <br/>
        <img src="{{ store.image.url }}" class="img-fluid" height="440" width="230" />
        <br/>
        <br/>
        <h4>Manager : {{ store.manager }} </h4>
      </div>
      <div class="col-md-3">
        <h3>Foods :</h3>
        <div class="pl-5">
        {% for food in foods %}
            <a href="{% url 'food-detail' food.id %}"><p>{{ food.name }}</p></a>
        {% endfor %}
        </div>
      </div>
      <div class="col-md-5">
        <h3>Employess :</h3>
        <div class="pl-5">
        {% for emp in employees %}
            <p>{{ emp.name }}</p>
        {% endfor %}
        </div>
      </div>
    </div>
    <div class="row">
      {% if user.is_staff and user.is_superuser %}
      <div class="col-md-1">
        <a href="{% url 'store-update' store.pk %}"><input class="btn btn-primary" type="button" value="Update"></a>
      </div>
      <div class="col-md-1">
        <a href="{% url 'store-delete' store.pk %}"><input class="btn btn-primary" type="button" value="Delete"></a>
      </div>
      <div class="col-md-1">
        <a href="{% url 'manager-detail' store.manager.id %}"><input class="btn btn-primary" type="button" value="Manager Detail &raquo;"></a>
      </div>
      {% endif %}
    </div>
  </div>
    <br/>
    <hr>
  </div> <!-- /container -->
{% endblock content %}


{% block footer %}
    {{ block.super }}
{% endblock %}