{% extends 'base.html' %}
{% load static %}
{% block nav_bar %}
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="{% url 'home' %}">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'store-list' %}">Stores <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="{% url 'food-list' %}">Foods</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      {% if user.is_authenticated %}
        {% if user.is_staff and user.is_superuser %}
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'store-add' %}"><img src="{% static 'add.png' %}" class="d-inline-block align-top" height="25" width="25" /></a>
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="javascript:{document.getElementById('logout').submit()}" class="d-inline-block align-top"><span style="color: white">Logout</span></a>
          <form id='logout' method="POST" action="{% url 'logout' %}">
            {% csrf_token %}
            <input type="hidden" />
          </form>
        </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link active" href="{% url 'signup' %}">Sign Up</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="{% url 'login' %}">Login</a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>
{% endblock %}

{% block content %}
<main role="main">
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Stores List</h1>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
    {% for store in stores %}
      <div class="col-md-4">
        <h2>Branch No {{ store.branch_num }}</h2>
        <br/>
        <img src="{{ store.image.url }}" class="img-fluid" height="440" width="230" />
        <br/>
        <br/>
        <h3>{{ store.address }}</h3>
        <br>
        <h4>Manager : {{ store.manager }}</h4>
        <br>
        <p><a class="btn btn-secondary" href="{% url 'store-detail' store.pk %}" role="button">View details &raquo;</a></p>
      </div>
    {% endfor %}
    </div>
    <hr>
  </div> <!-- /container -->
{% endblock content %}


{% block footer %}
    {{ block.super }}
{% endblock %}