{% extends 'base.html' %}

{% block nav_bar %}
  {{ block.super }}
{% endblock %}

{% block content %}
<main role="main">
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Login</h1>
    </div>
  </div>

  <div class="container">
    <form method="POST" action="{% url 'login' %}">
    {% csrf_token %}
    Username:
    <br/>
    <input type="text" name="username">
    <br/>
    Password:
    <br/>
    <input type="password" name="password">
    <br/>
    <br>
    <input type="hidden" name="next" value="{{ next }}">
    <input class="btn btn-primary" type="submit" value="Login">
  </form>
  <br>
  <p><a href="{% url "password_reset" %}">Forgotten your password ?</a></p>
  </div>


  <hr>
{% endblock content %}


{% block footer %}
    {{ block.super }}
{% endblock %}
