{% extends 'base.html' %}

{% block nav_bar %}
  {{ block.super }}
{% endblock %}

{% block content %}
<main role="main">
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Reset Your Password</h1>
    </div>
  </div>

  <div class="container">
    <h2>Forgotten your password?</h2>
    <p>Enter your e-mail address to obtain a new password.</p>
    <form method="POST" action=".">
    {{ form.as_p }}
    <p><input class="btn btn-primary" type="submit" value="Send e-mail"></p>
    {% csrf_token %}
  </form>
  </div>

  <hr>
{% endblock content %}


{% block footer %}
    {{ block.super }}
{% endblock %}