{% extends 'base.html' %}

{% block title %}
  <title>Reset Completed</title>
{% endblock title %}

{% block nav_bar %}
  {{ block.super }}
{% endblock %}

{% block content %}
<main role="main">
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Password Reset Completed</h1>
    </div>
  </div>

  <div class="container">
    <h3>Your password has been successfully changed.</h3>
    <p>Back to <a href="{% url 'home' %}">Home</a></p>
  </div>

  <hr>
{% endblock content %}


{% block footer %}
    {{ block.super }}
{% endblock %}
