{% extends 'base.html' %}

{% block nav_bar %}
  {{ block.super }}
{% endblock %}

{% block content %}
<main role="main">
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Password Reset</h1>
    </div>
  </div>

  <div class="container">
    {% if validlink %}
      <p>Please enter your new password twice:</p>
      <form action="." method="post">
      {{ form.as_p }}
      {% csrf_token %}
      <p><input type="submit" value="Change my password" /></p>
      </form>
    {% else %}
      <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
    {% endif %}
    <p>Back to <a href="{% url 'home' %}">Home</a></p>
  </div>

  <hr>
{% endblock content %}


{% block footer %}
    {{ block.super }}
{% endblock %}