{% extends 'base.html' %}

{% block title %}
  <title>Change Password</title>
{% endblock title %}

{% block nav_bar %}
  {{ block.super }}
{% endblock %}

{% block content %}
<main role="main">
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Change Password</h1>
    </div>
  </div>

  <div class="container">
    <form method="POST" action=".">
    {{ form.as_p }}
    <p><input class="btn btn-primary" type="submit" value="Change"></p>
    {% csrf_token %}
  </form>
  </div>

  <hr>
{% endblock content %}


{% block footer %}
    {{ block.super }}
{% endblock %}
