{% extends 'base.html' %}

{% block nav_bar %}
  {{ block.super }}
{% endblock %}

{% block content %}
<main role="main">
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Update Food</h1>
    </div>
  </div>

  <div class="container">
    <form method="POST" action="{% url 'food-update' food.pk %}">
    {% csrf_token %}
    {{ form.as_p }}
    <input class="btn btn-primary" type="submit" value="Save">
  </form>
  </div>

  <hr>
{% endblock content %}


{% block footer %}
    {{ block.super }}
{% endblock %}