{% extends 'base.html' %}
{% load static %}

{% block title %}
  <title>Add Food</title>
{% endblock title %}

{% block nav_bar %}
  {{ block.super }}
{% endblock %}

{% block content %}
<main role="main">
  <div class="jumbotron">
    <div class="container">
      {% if user.is_staff and user.is_superuser %}
        <h1 class="display-3">Add Food</h1>
      {% else %}
        <h1 class="display-3">Page Not Found</h1>
      {% endif %}
    </div>
  </div>

  <div class="container">
    {% if user.is_staff and user.is_superuser %}
    <form method="POST" action="{% url 'food-add' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <input class="btn btn-primary" type="submit" value="Save">
    </form>
    {% endif %}
  </div>

  <hr>
{% endblock content %}


{% block footer %}
    {{ block.super }}
{% endblock %}
