{% extends 'base.html' %}

{% load static %}

{% block title %}
  <title>Foods List</title>
{% endblock title %}

{% block nav_bar %}
    {{ block.super }}
{% endblock %}

{% block content %}
<main role="main">
  <div class="jumbotron">
    <div class="container">
      {% if user.is_staff and user.is_superuser %}
        <h1 class="display-3">Foods List</h1>
      {% else %}
        <h1 class="display-3">Page Not Found</h1>
      {% endif %}
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    {% if user.is_staff and user.is_superuser %}
      <div class="row">
        {% for food in foods %}
        <div class="col-md-4">
          <h2>{{ food.name }}</h2>
          <img src="{{ food.image.url }}" height="250" width="250" />
          <h3>${{ food.price }}</h3>
          <p>{{ food.detail }}</p>
          <p><a class="btn btn-info" href="{% url 'food-detail' food.pk %}" role="button">View details &raquo;</a></p>
        </div>
        {% endfor %}
      </div>
    {% endif %}
    <hr>
  </div> <!-- /container -->
  {% endblock content %}


  {% block footer %}
  {{ block.super }}
  {% endblock %}
