{% extends 'base.html' %}

{% block nav_bar %}
  {{ block.super }}
{% endblock %}

{% block content %}
<main role="main">
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">{{ food.name }}</h1>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-5">
        <img src="{{ food.image.url }}" class="img-fluid" height="300" width="300" />
      </div>
      <div class="col-md-5">
        <p>{{ food.description }}</p>
      </div>
    <br/>
      <div class="col-md-5">
        <h3>Price: {{ food.price }} Dollors</h3>
        <p>Contains: {{ food.detail }}</p>
      </div>
    </div>
    <div class="row">
      {% if user.is_staff and user.is_superuser %}
      <div class="col-md-1">
      <a href="{% url 'food-update' food.pk %}"><input class="btn btn-primary" type="button" value="Update"></a>
      </div>
      <div class="col-md-1">
      <a href="{% url 'food-delete' food.pk %}"><input class="btn btn-primary" type="button" value="Delete"></a>
      </div>
      {% endif %}
    </div>
  </div>
    <hr> <!-- /container -->
{% endblock content %}


{% block footer %}
    {{ block.super }}
{% endblock %}